<html>
<head>

	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


	<title>MyThingWorks-IoT Products Store</title>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-light"  style="background-color: #e3f2fd;">
		<ul class="nav navbar-nav navbar-left">
			<li><a class ="navbar-brand" href="/">Home</a></li>
			<li><a href="/admin_login/"><h5>Admin Login</h5></a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a class ="navbar-brand" href="/cart/">Cart <b>({{cart_size}}) Items</b></a></li>
			<li><a href="/cart/checkout/">Checkout!</a></li>
		</ul>
	</nav>
	<br>
	<br>
	<div class="page-header" style="text-align:center">
		<h2>MyThingWorks</h2>
	</div>

	<style type="text/css">
	.centerdv
	{
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.imgscale
	{
		max-width: 64;
		max-height: 64;
	}
	</style>
	<div class ="container well centerdv">
		<div>
			<h3>Total Price: <br> <br><span class ="label label-success">{{total_price}}</span></h3>

			<br>
			{% for item in  cart_items %}
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object imgscale" src="{{item.imglink}}"/>
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{item.name}}</h4>
					{{item.description}}
					<span class="badge pull-right">{{item.price}}</span>
				</div>
				<form method="post" action="remove/">
					
					{% csrf_token %}
					<input type="hidden" name="obj_id" value={{item.id}}>
					<input type="submit" value="Remove" class="btn btn-danger pull-right">
				</form>
			</div>
			{% endfor %}
			<button class="btn btn-success btn-lg" onclick="window.location='checkout';">Checkout!</button>
		</div>

</body>
</html>