<html>
<head>

	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


	<title>MyThingWorks-IoT Products Store</title>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-light"  style="background-color: #e3f2fd;">
		<ul class="nav navbar-nav navbar-left">
			<li><a class ="navbar-brand" href="/">Home</a></li>
			<li><a href="/admin_login/"><h5>Admin Login</h5></a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a class ="navbar-brand" href="/cart/">Cart <b>({{cart_size}}) Items</b></a></li>
			<li><a href="/cart/checkout/">Checkout!</a></li>
		</ul>
	</nav>
	<br>
	<br>
	<div class="page-header" style="text-align:center">
		<h2>MyThingWorks</h2>
	</div>

	<div class="row">
		{% for prod in store_items %}
		<div class="col-md-4 well" style="text-align: center">
		
		<b>{{prod.name}}</b>
		<br>
		<p>{{prod.description}}</p>
		<br>
		<img src={{prod.imglink}} style="max-width: 150px">
		<br>
		<span class="label label-primary">{{prod.price}} </span>
		<br>
		<br>

		<form method="post">
			{% csrf_token %}
			<input type="submit" value="Add to Cart!" class=" btn btn-success">
			<input type="hidden" name="obj_id" value={{prod.id}}>
			

		</form>


		</div>
		{% endfor %}






	</div>
		

</body>
</html>