<html>
<head>

	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


	<title>MyThingWorks-IoT Products Store</title>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-light"  style="background-color: #e3f2fd;">
		<ul class="nav navbar-nav navbar-left">
			<li><a class ="navbar-brand" hre="/">Home</a></li>
			<li><a href="/admin_login/"><h5>Admin Login</h5></a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a class ="navbar-brand" href="/cart/">Cart <b>({{cart_size}}) Items</b></a></li>
			<li><a href="/cart/checkout/">Checkout!</a></li>
		</ul>
	</nav>
	<br>
	<br>
	<div class="page-header" style="text-align:center">
		<h2>MyThingWorks</h2>
	</div>

	<style type="text/css">
	.centerdv
	{
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
</style>


<div class="jumbotron centerdv">
	
	<h2>Order Successfull!</h2>
	<button class="btn btn-success btn-lg " onclick="window.location='/';">Return to the Homepage</button>


</div>
</body>
</html>
